<html>
<head>
<title>imagecolors</title>
<style type="text/css">

html {
    background-color : #efefef;
}

body {
    color : #333;
    margin : 20px;
    font: 14px/1.5em Arial;
}

img {
    position : absolute;
}

h3 {
    clear : both;
}

div.container {
    float : none;
    width : auto;
    clear : none;
    margin : 0;
    padding : 0;
    overflow : auto;
    width : 100%;
}

div {
    float : left;
    width : 550px;
    clear : right;
    margin : 0 0 0 400px;
    padding : 10px;
}

strong {
    font-size : 2em;
    display : block;
    line-height : 1.5em;
}

</style>
</head>
<body>
